body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  transition: opacity 1s, background-image 1s;
}

.bgChange2{
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-image: url(../materials/Backgrounds/GRAPHICSbg/Property\ 1=Frame\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    will-change: background-image;
    animation: change 10s infinite ease-in-out;
}

/*  @keyframes change {
    0% {
        background-image: url(../materials/Backgrounds/GRAPHICSbg/Property\ 1=Frame\ 2.png);
    }
    25% {
        background-image: url(../materials/Backgrounds/GRAPHICSbg/Property\ 1=Frame\ 3.png);
    }
    50% {
        background-image: url(../materials/Backgrounds/GRAPHICSbg/Property\ 1=Frame\ 4.png);
    }
    75% {
        background-image: url(../materials/Backgrounds/GRAPHICSbg/Property\ 1=Frame\ 5.png);
    }
    100% {
        background-image: url(../materials/Backgrounds/GRAPHICSbg/Property\ 1=Frame\ 2.png);
    }
}
  */


.graphics-content {
  font-size: 12rem;
  max-width: 50%;
  width: 50%;
  height: 50%;
  text-shadow: 0 0 10px #000;
  text-align: center;
  color: white;
  font-family: 'nagasaki', sans-serif;
  /* margin: auto 0 ;
  margin-top: 10rem; */
  
}

