
.section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #e3f2fd; 
  }

.logofolio-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    background-color: #ffffff; 
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .black-strip {
    background-color: #000;
    color: #fff; 
    width: 100%;
  }
  
  .logofolio-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 0 50px;
  }
  
  .logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 3rem;
}

.logo {
  max-height: 320px;
  max-width: 320px;
}

.logo4, .logo5{
  margin: 1.5rem;
  margin-top: -3.2rem;
  
  

}
